@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700');

* {
  font-family: 'Oxygen', sans-serif;
}

html, body {
  display: flex;
  flex-flow: column;
  min-height: 100%;
  background-color: #EEFBFF;
}

aside {
  position: fixed;
  text-align: center;
  width: 350px;
  height: 100%;
  background-color: #83A8B2;
  color: #EEFBFF;
  right: 0;
}

section, footer, .wrapper {
  margin-right: 350px;
}

section, footer {
  padding: 1em;
}

aside .profile {
  margin-bottom: 2em;
}

aside .profile p {
  font-weight: lighter;
}

aside .image-container {
  display: inline-block;
  margin-top: 3em;
}

#pic-kubbi {
  border-radius: 100%;
  overflow: hidden;
}

#pic-kubbi img {
  width: 140px;
  height: 140px;
}

nav ul {
  padding: 0;
}

nav ul li {
  display: block;
}

nav ul li a {
  display: block;
  color: #EEFBFF;
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 1.6em 0;
  border-bottom: solid 2px #96b8c2;
}

nav ul li .selected {
  color: #83A8B2;
  background: #EEFBFF;
}

.image-only {
  height: 50vh;
  background-image: url('../images/img_01_landscape.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
}

.title h1, .title h2, .title h3, .title h4, .title h5, .title h6 {
  padding: 0.4em 0;
  margin: 0;
}

.divider, .shortdivider {
  width: 100%;
  height: 4px;
  background-color: #D5F6FF;
  margin: 1em 0;
}

.shortdivider {
  width: 94%;
  margin-left: 3%;
  border-radius: 10px;
}

.big-title {
  font-size: 3em;
  color: #83A8B2;
}

.normal-title {
  font-size: 2em;
  color: #96b8c2;
}

.small-title {
  font-size: 1.4em;
  color: #96b8c2;
}